/*****************TAG SELECTORS*****************/
body {
    background-color: #EAF6F6;
}
hr {
    border-style: none;
    border-top: 5px dotted lightgray;
    height: 2px;
    width: 5%;
}
h1 {
    color: #66bfbf;
}
h3 {
    color: #66bfbf;
}
table {
    border-spacing: 20px;
}

/****************CLASS SELECTORS****************/

/******************ID SELECTORS*****************/
.nameLabel {
    color: red;
}
#profPic {
    border-radius: 100%;
    width: 115px;
}